* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color: #ffffff; /* light professional background */
  color: #000000;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8%;
  position: sticky;
  top: 0;
  background: #5a647c;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  font-weight: 5000;
}

/* Hero */
.hero {
  background: linear-gradient(to right, #f5f7fa, #eef2f7);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 8%;
}
.hero-content {
  max-width: 550px;
}

.hero-content span {
  color: #5a647c;
}

.hero-image img {
  
  width: 490px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  object-fit: cover;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block;
}

.primary {
  background: #5a647c;
  color: white;
}

.outline {
  border: 2px solid #5a647c;
  color: #5f6783;
}

/* Sections */
.section {
  padding: 4rem 8%;
}

.section h2 {
  margin-bottom: 1rem;
}
.gray {
  background: #5f6989;
}


/* Skills */
.skills-grid div {
  margin-bottom: 20px;
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.project-card {
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.project-card span {
  font-size: 0.9rem;
  color: #555;
}

/* Contact */
.contact-form {
  max-width: 400px;
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .navbar nav {
    display: none;
  }
}
